
/*there's probably some junk in 
there i don't need but it works*/

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    list-style-type: none;  
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: arial;   
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lime;
    text-decoration: underline;
}