/*Nav bar*/
ul.topbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffaa00;
  list-style-type: none;  
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 7px 25% 7px 25%;
  font-size: 20px;
  font-family: arial;   
}

a.currentPage {
  display: inline-block;
  position: relative;
  color: #0087ca;
  
}

li#currentPage {
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  background-color: blue;
}

a {
  display: inline-block;
  position: relative;
  color: #0087ca;
  text-decoration: none;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

#homelink {
    color: white;
}

/*^^Nav Bar^^*/

/*Gets rid of default small margins*/
body {
    margin:0;
    padding:0;
}


/*Homepage Heading*/

h1 {
  background-color: blue;
  color: black;
  align-items: center;
  font-size: 400%; 
  margin-top: 0%;
  padding-top: 20px;
  padding-bottom: 50px;
}


/*The lunch of homepage CSS*/
.homePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*ids are divs, classes for individual boxes*/
#left {
  background-color: red;
  flex-direction: column;
  float: left;
  max-width: 400px;
  justify-content: space-between;
}

#right {
  background-color: blue;
  flex-direction: column;
  float: right;
  max-width: 400px;
  justify-content: space-between;
}

.left, .right {
  border-radius: 5px;
  background-color:#eee;
  font-size: 130%;
  padding-left: 4px;
  padding-top: 0px;
}

.homeItem {
  padding: 7px 7px 7px 7px;
  margin: 7px 7px 7px 7px;
  border-radius: 5px;
}

#history {
  background-color: lightgreen;
  align-self: center;
  max-width: 900px;
  font-size: 200%;
  padding: 0px 30px 10px 30px;
}

/*Syrup buttons*/
.collapsibleSyrup {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 12px;
  width: 98%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 4px;
}


/*individual boxes*/


#measurements {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
}

#categories {
  background-color:#eee;
  margin-top: 15%;
}

#mixing {
  max-width: 400px;
}



/* HOME PAGE ^^^
/* NON HOME PAGE vvv*/



.upper {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1%;
  margin-bottom: 10px;
  background-color: lightgoldenrodyellow;
  font-size: 140%;
}

.upperImage {
  padding: 5px 5px 5px 5px;
}

/*Formatting of buttons*/
.buttons {
  display: flex;
  flex-direction: column;

}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.drinkPicture {
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 0px;
}


.ingOverIns {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 25px 15px 15px 15px;
  padding: 5px 15px 5px 15px;
  background-color: rgb(226, 226, 226);
  max-width: 600px;
}

.ingredients {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px 15px 15px 15px;
  max-height: 70px;
  background-color: rgb(211, 211, 211);
  list-style-type: none;
  list-style-position: inside; 
  line-height: 30px;
}

.ingredients li {

}

.instructions {
  border-radius: 3px;
  margin: 5px;
  padding: 5px 15px 5px 15px;
  background-color: rgb(211, 211, 211);
  font-size: large;
}

.drinkInfo {
  border-radius: 3px;
  margin-top: 25px;
  padding: 15px 100px 5px 15px;
  background-color: #ccc;
  font-size: 120%;
  max-width: 800px;
  margin-bottom: 15px;
}
