/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}
  
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.drinkPicture {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}




a {
    text-decoration: none;
    color: white;
}

a.currentPage {
  text-decoration: underline;
}

a:hover {
    color: blueviolet;
    text-decoration: underline;
}

#homelink {
    color:aqua;
}
/*Gets rid of default small margins*/
body {
    margin:0;
    padding:0;
}

.upper {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1%;
}

h1 {
  color: white;
  align-items: center;
  font-size: 400%; 
  background-image: url("./bardrinks1.png");
  background-size: 97px;
  background-blend-mode:lighten;
  margin-top: 0%;
  padding-bottom: 90px;
}

.measurements {
  display: flex;
  flex-direction: column;
  background-color: #ccc;

}

/*vvv   HERE    vvv*/
ul.topbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffaa00;
  list-style-type: none;  
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  font-family: arial;   
}
